<div style="position: absolute; overflow: hidden; left: 220px; top: 0px; right: 0px; bottom: 0px;">
	<div id="bible-view" style="position: absolute; overflow: hidden; left: 0px; top: 0px; bottom: 0px; width: 100%;">
		<!-- <div id="bible-search" style="color:white; position: absolute; overflow: hidden; left: 0px; right: 0px; top: 0px; height: 36px; background: rgb(180, 180, 180)">
			Search Bar
		</div>
		<div id="bible-dock" style="color:white; position: absolute; overflow: hidden; left: 0px; right: 0px; bottom: 0px; height: 36px; background: rgb(180, 180, 180)">
			Bible Dock
		</div> -->
		

		<div ng-view></div>


	</div>
</div>