<div class="full" ng-controller="SnakeController" ng-init="init()">
	<div id="GameBoard" class="full" keypress>
		<div class="gameboard-wrapper">
			<ul class="board-list">		
				<div class="snake-row" ng-repeat="row in grid track by row.id">						
					<li ng-repeat="block in row.blocks track by block.id" ng-class="{food:block.type == 'food', snake:block.type =='snake', block:true}"></li>
				</div>
			</ul>
		</div>
		<!-- <button type="button" ng-click="stopGame()">Stop Game</button> -->
	</div>
	<div class="scorecard">
		{{score|pad:3}}
	</div>
	

	<!-- Bootstrap modals -->
	<script type="text/ng-template" id="pause.html">
	 	<div class="modal-header">
	 		PAUSED
	 	</div>
	 	<div class="modal-body">
	 		Body
	 	</div>
	</script>	
</div>

