/* app css stylesheet */

/* Framework */

#maincontent {
  position: absolute; 
  overflow: hidden; 
  left: 0px; 
  top: 0px; 
  right: 0px; 
  bottom: 0px;
}

/* Side Panel */

#sidetray {
  position: absolute; 
  overflow: hidden; 
  left: 0px; 
  top: 0px; 
  width: 220px; 
  height: 100%; 
  background: #A5A3A3;
}

/* Main Panel */

#mainpanel {
  position: absolute; 
  overflow: hidden; 
  left: 220px; 
  top: 0px; 
  right: 0px; 
  bottom: 0px;
}
  .main-container {
    position: absolute; 
    overflow: hidden; 
    left: 0px; 
    top: 0px; 
    bottom: 0px; 
    width: 100%;
  }